#dayNightCycle {
  .wrapper{
    display:flex;
    justify-content:space-around;
    align-items:center;
    .line{
      height:80%;
    }
    p{
      margin:10px;
    }
  }
  #dayNightCycleContainer {
    position: relative;

    #canvas2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }

    #canvas1 {
      z-index: 0;
    }
  }

  #moon {
    text-align: center;
  }
}
.darkMode{
  #dayNightCycle{
    .wrapper{
      .line{
        border: 1px solid white;
      }
    }
  }
}
.whiteMode{
  #dayNightCycle{
    .wrapper{
      .line{
        border: 1px solid #333;
      }
    }
  }
}

