@use './variables';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background: variables.$basicBlack;
  width: 100%;

  #wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;

    h1 {
      font-size: 1.8em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    #switches {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width:160px;
      margin:0 5px;
    }
  }
}
@media (max-width: 768px) {
  header {
    #wrapper {
      width: 95%;
      justify-content: center;
    }
  }
}
