@use 'variables';
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.modal{
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  button{
    color: inherit;
    border: none;
    border-radius: 10px;
    padding:5px 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
  }
  button:hover{
    border-radius: 5px;
  }
  p{
    font-weight: bold;
  }
}
.whiteMode{
  .modal{
    background: variables.$basicBoxes;
    button{
      background: variables.$basicBlue;
    }
  }
}
.darkMode{
  .modal{
    background: variables.$darkBoxes;
    button{
      background: variables.$darkBlue;
    }
  }
}
