@use './type';
@use './dayNightCycle';
@use './compass';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
  display:flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}
#map{
  width:100vw;
  height:60vh;
}
#weather{
  display:flex;
  flex-direction:column;
  margin:1vh 5vw;
}
