$basicBlack: #f3f3f3;
$basicBoxes: rgba(255, 255, 255, 0.9);
$basicBlue: #4fb9ff;
$basicSwitch: #d0d0d0;

$darkBlue: #162e44;
$darkBoxes: rgba(17, 36, 52, 0.9);
$darkBlack: #000;
$darkSwitch: #333333;
