$basicBlack: #f3f3f3;
$basicBoxes: rgba(255, 255, 255, 0.8);
$basicBlue: #4fb9ff;
$basicSwitch: #d0d0d0;

$darkBlue: #0b3d60;
$darkBoxes: rgba(36, 39, 44, 0.8);
$darkBlack: #1e1e25;
$darkSwitch: #343434;
